.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 135px;
    padding-top: 0;
    padding-right: 130px;
    padding-bottom: 20px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5%;
}

.logo-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    padding-right: 15px;
}


.left-column {
    width: 420px;
    float: left;
    margin-top: 3%;
}
.text-column > h2 {
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

.text-column > h1 {
    color: white;
    font-size: 36px;
    font-family: 'Crimson Text', serif;
}

.text-column > p {
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 15px;
}

.first-img {
    width: 55%;  
    margin-bottom: 40px;
    float: right;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3em;
    background-color: white;
    border-radius: 0.3em;
    padding: 0.7em 2.4em;
    width: 9em;
    margin-top: 1em;
    line-height: 1.2em;
}

.button:hover {
    text-decoration: underline;
    text-decoration-color: #5569AF;
}

.partners {
    width: 100%;
    flex-direction: column;
}

.text-column2 > h1,
.text-column2 > h2,
.text-column2 > p,
.partners-logo,
.lm-button {
    display: flex;
    justify-content: center;
    gap: 40px; /*padare tarpus is sonu */
    padding: 10px;
}

.text-column2 > h2 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #74C69D;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 0;
}

.text-column2 > h1 {
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    padding: 0;

}

.text-column2 > p {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-align: center;
}

.partners-logo {
    width: 75%;
    margin-left: 14%;
}

.lm-button > a {
    background-color: #212529;
    color: white;
    padding: 0.7em 1.6em;
    line-height: 1em;
}


@media (max-width: 500px) {
    .container,
    .partners-logo {
        display: flex;       
        flex-direction: column-reverse;
        padding: 20px;
        box-sizing: none;
        align-items: center;
        
    }
        .left-column,
        .first-img {
            width: 100%;
        }

        .partners {
            margin-top: -40px;
        }

        .header {
            display: block;
        }
       .logo {
            display: none;
        }
        .logo2 {
            margin-left: 30px;
        }
        .button {
            margin-bottom: 20px;
        }
        .main-nav {
           display: flex;
           justify-content: space-evenly;
        }

        .lm-button {
            margin-top: -30px;
        }
}

.content,
.content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 135px;
    padding-right: 130px;
    padding-top: 50px;
    
}

.content2 {
    flex-direction: row-reverse;
}
.content-img,
.content-img2 {
    width: 50%;

}

.content > .right-column {
    width: 40%;
}

.content > .right-column > h1,
.content2 > .left-column > h1{
        font-size: 36px;
        font-family: 'Crimson Text', serif;
    }

.content > .right-column > p,
.content2 > .left-column > p {
        font-family: 'Work Sans', sans-serif;
        font-size: 15px;
    }

.content .lm-button,
.content2 .lm-button {
    justify-content: flex-start;
}

